*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all .2s ease-in-out;
    font-family: sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-overlay {
    position: absolute;
    height: 400px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgb(128, 208, 199), rgba(0, 0, 0, 0));
    z-index: 2;
}

header img {
    width: 100%;
}

header h1 {
    position: absolute;
    bottom: -5%;
    font-size: 60px;
    z-index: 3;
    opacity: .7;
    text-align: center;
}

header h1:hover {
    opacity: 1;
    cursor: pointer;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(128, 208, 199), rgba(0, 0, 0, 0));
    z-index: 5;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}

header nav ul li {
    cursor: pointer;
    padding: 0 20px;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(128, 208, 199), rgba(0, 0, 0, 0));
}

main h2 {
    font-size: 30px;
    padding: 50px;
    padding-top: 110px;
}

main .cards-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin: 20px;
    margin-bottom: 70px;
}

main .cards-container .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #333;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

main .cards-container .card img {
    width: 80%;
    border-bottom: 2px solid rgb(0, 0, 0, 0.3);
}

main .cards-container .card p {
    margin: 10px 0;
    font-weight: bold;
}

main .cards-container .card .overlay {
    position: absolute;
    background-image: linear-gradient(-50deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4));
    height: 100%;
    width: 100%;
    border-radius: 20px;
    opacity: 0;
}

main .cards-container .card:hover .overlay {
    opacity: 1;
}

main .cards-container .card:hover p {
    color: #006dac;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}


/* ---------------------------------------------------------------------------------- */
/* 800px width screens */
@media screen and (max-width: 850px) {
    header h1 {
        font-size: 40px;
    }

    main h2 {
        font-size: 20px;
        padding-bottom: 30px;
    }

    main .cards-container .card {
        width: 150px;
    }

    main .cards-container .card p {
        font-size: 12px;
    }
    
  }

/* 570px width screens */

  @media screen and (max-width: 570px) {
    header h1 {
        font-size: 30px;
    }

    header nav ul {
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    header nav ul {
        font-size: 12px;
    }

    main h2 {
        padding-bottom: 20px;
    }

    footer {
        font-size: 14px;
    }
  }

  /* 430px width screens */

  @media screen and (max-width: 430px) {
    header h1 {
        font-size: 23px;
    }

    main h2 {
        padding-bottom: 20px;
    }
  }

   /* 315px width screens */

   @media screen and (max-width: 315px) {
    header h1 {
        font-size: 18px;
    }

    header nav ul {
        font-size: 5px;
    }

    main h2 {
        font-size: 12px;
        padding-top: 40px;
        padding-bottom: 0;
    }
  }